@import 'tailwindcss';

:root {
  background-color: #fff;
  color: #000;
}

html {
  min-width: 1440px;
  min-height: 768px;
  width: 100%;
  height: 100%;
}

body,
#root {
  width: 100%;
  height: 100%;
}